a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navItem{
  font-size: 20px;
  transition: 0.3s;
}
.navItem:hover{
  font-size: 30px;
  color:gold !important;
  
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

